{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/radios/macro.njk"        import govukRadios %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk"         import govukInput %}
{% from "macros/title.njk"                         import title %}
{% from "macros/returnLink.njk"                    import returnLink %}

{% block pageTitle %}
  {{ title(messages("messages__scheme_type__title"), form.errors) }}
{% endblock %}

{% block mainContent %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if form.errors.length > 0 %}
          {{ govukErrorSummary({
            "titleText": messages("error.summary.title"),
            "errorList": form.errors
          }) }}
        {% endif %}

        <form method="post" autocomplete="off" novalidate>

          {{ csrf() | safe }}

          {{ govukRadios({
            name: 'schemeType.type',
            fieldset: {
              legend: {
                text: messages("messages__scheme_type__heading", schemeName),
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl govuk-!-margin-bottom-8"
              }
            },
            items: radios,
            errorMessage: form.schemeType.type.error
          }) }}

          {{ govukButton({
            text: messages("site.save_and_continue"),
            attributes: {id: "submit"}
          }) }}

        </form>

      </div>
    </div>

     {{ returnLink(schemeName) }}

{% endblock %}
