{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/radios/macro.njk"        import govukRadios %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/input/macro.njk"         import govukInput %}
{% from "macros/title.njk"                         import title %}
{% from "macros/returnLink.njk"                    import returnLink %}

{% block pageTitle %}
  {{ title(messages("messages__scheme_type__title"), form.errors) }}
{% endblock %}

{% set otherSchemeTypeHtml %}
    {{ govukInput({
      id: "schemeType.schemeTypeDetails",
      name: 'schemeType.schemeTypeDetails',
      value: form.schemeType.schemeTypeDetails.value,
      classes: "govuk-!-width-one-third",
      errorMessage: form.schemeType.schemeTypeDetails.error,
      label: {
        text: messages("messages__scheme_details__type_other_more"),
        isPageHeading: false,
        classes: "govuk-label--s"
      }
    }) }}
{% endset -%}

{% set newRadios = [] %}
{% for item in radios %}
    {% if item.text === "Other" %}
        {% set newRadios = (newRadios.push({
            id: item.id,
            checked: item.checked,
            value: item.value,
            text: item.text,
            hint: item.hint,
            classes: item.classes,
            conditional: {
                html: otherSchemeTypeHtml
            }
        }), newRadios)
        %}
    {% else %}
        {% set newRadios = (newRadios.push(item), newRadios) %}
    {% endif %}
{% endfor %}

{% block mainContent %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if form.errors.length > 0 %}
          {{ govukErrorSummary({
            "titleText": messages("error.summary.title"),
            "errorList": form.errors
          }) }}
        {% endif %}

        <form method="post" autocomplete="off" novalidate>

          {{ csrf() | safe }}
{{radios | dump }}
{{newRadios | dump }}
          {{ govukRadios({
            name: 'schemeType.type',
            fieldset: {
              legend: {
                text: messages("messages__scheme_type__heading", schemeName),
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl govuk-!-margin-bottom-8"
              }
            },
            items: newRadios,
            errorMessage: form.schemeType.type.error
          }) }}

          {{ govukButton({
            text: messages("site.save_and_continue"),
            attributes: {id: "submit"}
          }) }}

        </form>

      </div>
    </div>

     {{ returnLink(schemeName) }}

{% endblock %}
