{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/radios/macro.njk"        import govukRadios %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "macros/title.njk"                         import title %}
{% from "macros/returnLink.njk"                    import returnLink %}

{% set hint %}
    <p id="p1" class="govuk-body govuk-!-font-weight-regular">{{ messages("addressList.select") }}
    <a href="{{ enterManuallyUrl }}" class="govuk-link">{{ messages("address.linkText.enterManually") }}</a>.</p>
{% endset %}

{% block pageTitle %}
  {{ title(messages(h1MessageKey, messages(entityType)), form.errors) }}
{% endblock %}

{% block mainContent %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if form.errors.length > 0 %}
          {{ govukErrorSummary({
            "titleText": messages("error.summary.title"),
            "errorList": form.errors
          }) }}
        {% endif %}

        <form method="post" autocomplete="off" novalidate>

          {{ csrf() | safe }}

          {{ govukRadios({
            name: 'value',
            fieldset: {
              legend: {
                text: messages(h1MessageKey, entityName),
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl govuk-!-margin-bottom-8"
              }
            },
            hint: {
                            html: hint
                          },
            items: addresses,
            errorMessage: form.value.error
          }) }}

          {{ govukButton({
            text: messages("site.save_and_continue"),
            attributes: {id: "submit"}
          }) }}

        </form>

      </div>
    </div>

   {{ returnLink(schemeName) }}

{% endblock %}
