{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/input/macro.njk"         import govukInput %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "macros/title.njk"                         import title %}
{% from "govuk/components/select/macro.njk"        import govukSelect %}

{% block pageHead %}
    <link href="{{ routes.controllers.Assets.versioned("stylesheets/location-autocomplete.min.css").url }}" media="screen" rel="stylesheet" type="text/css" />
{% endblock %}

{% block pageTitle %}
  {{ title(pageTitle, form.errors) }}
{% endblock %}

{% block mainContent %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if form.errors.length > 0 %}
          {{ govukErrorSummary({
            "titleText": messages("error.summary.title"),
            "errorList": form.errors
          }) }}
        {% endif %}

        <h1 class="govuk-heading-xl">{{ h1 }}</h1>

        <form action="{{ submitUrl }}" method="post" autocomplete="off" novalidate>

          {{ csrf() | safe }}

          {{ govukInput({
            label: {
              text: messages('address.line1'),
              isPageHeading: false,
              classes: "govuk-label--s"
            },
            id: "line1",
            name: "line1",
            value: form.line1.value,
            classes: "govuk-input--width-20",
            attributes: {autocomplete: "none"},
            errorMessage: form.line1.error
          }) }}

          {{ govukInput({
            label: {
              text: messages('address.line2'),
              isPageHeading: false,
              classes: "govuk-label--s"
            },
            id: "line2",
            name: "line2",
            value: form.line2.value,
            classes: "govuk-input--width-20",
            attributes: {autocomplete: "none"},
            errorMessage: form.line2.error
          }) }}

          {{ govukInput({
            label: {
              text: messages('address.line3'),
              isPageHeading: false,
              classes: "govuk-label--s"
            },
            id: "line3",
            name: "line3",
            value: form.line3.value,
            classes: "govuk-input--width-20",
            attributes: {autocomplete: "none"},
            errorMessage: form.line3.error
          }) }}

          {{ govukInput({
            label: {
              text: messages('address.line4'),
              isPageHeading: false,
              classes: "govuk-label--s"
            },
            id: "line4",
            name: "line4",
            value: form.line4.value,
            classes: "govuk-input--width-20",
            attributes: {autocomplete: "none"},
            errorMessage: form.line4.error
          }) }}

         {% if postcodeEntry %}
             {% if postcodeFirst %}
                  {{ govukInput({
                      label: {
                        text: messages('address.postcode'),
                        isPageHeading: false,
                        classes: "govuk-label--s"
                      },
                      id: "postcode",
                      name: "postcode",
                      value: form.postcode.value,
                      classes: "govuk-input--width-10",
                      attributes: {autocomplete: "none"},
                      errorMessage: form.postcode.error
                  }) }}
             {% endif %}
         {% endif %}

         {% if countries %}
              <div class="govuk-form-group autocomplete-wrapper govuk-body govuk-input--width-20">
                  {{ govukSelect({
                    label: {
                        text: messages('address.country'),
                        classes: "govuk-label--s"
                    },
                    id: "country",
                    classes: "autocomplete",
                    name: "country",
                    items: countries,
                    errorMessage: form.country.error,
                    attributes: {
                        value: form.country.value
                    }
                  }) }}
              </div>
          {% endif %}

          {% if postcodeEntry %}
             {% if not postcodeFirst %}
                  {{ govukInput({
                      label: {
                        text: messages('address.postcode'),
                        isPageHeading: false,
                        classes: "govuk-label--s"
                      },
                      id: "postcode",
                      name: "postcode",
                      value: form.postcode.value,
                      classes: "govuk-input--width-10",
                      attributes: {autocomplete: "none"},
                      errorMessage: form.postcode.error
                  }) }}
             {% endif %}
          {% endif %}

          {{ govukButton({
              text: messages("site.save_and_continue"),
              attributes: {id: "submit"}
            }) }}

        </form>

      </div>
    </div>

{% endblock %}

{% block pageScripts %}
    <script src="{{ routes.controllers.Assets.versioned("javascripts/autocomplete/location-autocomplete.min.js").url }}"></script>
{% endblock %}


