{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/input/macro.njk"         import govukInput %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("postcode.title", messages(viewmodel.entityType)), form.errors) }}
{% endblock %}

{% block mainContent %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        {% if form.errors.length > 0 %}
          {{ govukErrorSummary({
            "titleText": messages("error.summary.title"),
            "errorList": form.errors
          }) }}
        {% endif %}

        <h1 class="govuk-heading-xl">{{messages("postcode.title", viewmodel.entityName)}}</h1>

         <p class="govuk-body">
            {{ messages("postcode.youCan") }} <a href="{{ viewmodel.enterManuallyUrl }}" class="govuk-link">{{ messages("address.linkText.enterManually") }}</a>.
         </p>

        <form action="{{ viewmodel.submitUrl }}" method="post" autocomplete="off" novalidate>

          {{ csrf() | safe }}

          {{ govukInput({
            label: {
              text: messages('postcode.label'),
              isPageHeading: false,
              classes: "govuk-fieldset__legend--s"
            },
            id: "value",
            name: "value",
            value: form.value.value,
            classes: "govuk-input--width-10",
            attributes: {autocomplete: "off"},
            errorMessage: form.value.error
          }) }}

          {{ govukButton({
            text: messages("findAddress"),
            attributes: {id: "submit"}
          }) }}

        </form>

      </div>
    </div>

{% endblock %}
