{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}
{% from "macros/returnLink.njk"                    import returnLink %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/checkboxes/macro.njk"    import govukCheckboxes %}

{% block pageTitle %}
  {{ title(messages("messages__declaration__title")) }}
{% endblock %}

{% block mainContent %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          {{ messages("messages__declaration__title") }}
        </h1>

        <p class="govuk-body">
          {{ messages("messages__declaration__declare") }}
        </p>
        <ul class="govuk-list govuk-list--bullet">

            <li>{{ messages("messages__declaration__statementRacDac1") }}</li>
            <li>{{ messages("messages__declaration__statementRacDac2") }}</li>
            <li>{{ messages("messages__declaration__statementRacDac3") }}</li>

        </ul>

          {{ govukButton({
              href: submitUrl,
              text: messages("site.agree_and_continue"),
              attributes: {id: "agree and continue"}
          }) }}

      </div>
    </div>
    <p class="govuk-body"> <a href="{{ yourPensionSchemesUrl }}" class="govuk-link"> {{ messages("site.return.to", psaName) }}</a>
    </p>

{% endblock %}
