{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}
{% from "macros/returnLink.njk"                    import returnLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {{ title(messages("messages__racdac__inprogress__title")) }}
{% endblock %}

{% block mainContent %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          {{ messages("messages__racdac__inprogress__title") }}
        </h1>

        <p class="govuk-body">{{ messages("messages__racdac__inprogress__p1") }}</p>
        <p class="govuk-body">
            {{ messages("messages__racdac__inprogress__p2__first") }} <a id="list-schemes-link" href="{{ listOfSchemesUrl }}" class="govuk-link">{{ messages("messages__racdac__inprogress__p2_link_text") }}</a> {{ messages("messages__racdac__inprogress__p2__last") }}
        </p>

        {{ govukButton({
            href: returnUrl,
            attributes: {id: "submit"},
            text: messages("messages__racdac__inprogress__button__text")
        }) }}
      </div>
    </div>

{% endblock %}
