{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/input/macro.njk"         import govukInput %}
{% from "macros/title.njk"                         import title %}
{% from "macros/returnLink.njk"                    import returnLink %}
{% from "macros/navigationLink.njk"                import navigationLink %}
{% from "macros/pageNumberLink.njk"                import pageNumberLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from 'macros/inputSearch.njk'                   import hmrcInputSearch with context %}

{% set heading  %}
    {%  if(form.value.value | length )%}
         {{ messages("messages__listSchemes__search_result_title", typeOfList) }}
    {% elif viewOnly %}
        {{ messages("messages__listSchemes__title", typeOfList) }}
    {% else %}
         {{ messages("messages__listSchemes__add_title", typeOfList) }}
    {% endif %}
{% endset %}

{% set paragraph %}
    {% if racDac %}
        {{ messages("messages__listSchemes__racDac") }}
    {% else %}
        {{ messages("messages__listSchemes__p1_scheme") }}
    {% endif %}
{% endset %}

{% set searchLabel  %}
    {%  if racDac %}
         {{ messages("messages__listSchemes__searchText_label_racDac") }}
    {% else %}
         {{ messages("messages__listSchemes__searchText_label_scheme") }}
    {% endif %}
{% endset %}

{% set hintText  %}
    {%  if racDac %}
         {{ messages("messages__listSchemes__searchText_label_hint_racDac") }}
    {% else %}
         {{ messages("messages__listSchemes__searchText_label_hint_scheme") }}
    {% endif %}
{% endset %}

{% block pageTitle %}
   {{ title(heading, form.errors) }}
{% endblock %}

{% set buttonContent  %}
   {% if(form.value.value | length) %}
        {{ messages("messages__listSchemes__search_again") }}
     {% else %}
       {{ messages("messages__listSchemes__search_submit") }}
    {% endif %}
{% endset %}

{%- set listSchemeUrl = "/add-pension-scheme/list-pension-schemes/page/"  -%}


{% block mainContent %}

   <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            {% if form.errors.length > 0 %}
                {{ govukErrorSummary({
                    "titleText": messages("error.summary.title"),
                    "errorList": form.errors
                }) }}
            {% endif %}

            <h1 class="govuk-heading-xl">{{ heading }}</h1>

            <p class="govuk-body">{{ paragraph }}</p>


            <form method="post"
                  autocomplete="off"
                  action="{{ submitUrl }}"
                  novalidate>

                {{ csrf() | safe }}

                {% if schemes.size >= appConfig.minimumSchemeSearchResults or form.value %}

                {{ hmrcInputSearch({
                      id: "value",
                      label:{
                            text: searchLabel,
                            isPageHeading: false,
                            classes: "govuk-label--m"
                      },
                      formGroup: {
                               classes: "govuk-!-margin-bottom-0"
                      },
                      name: "value",
                      type: "search",
                      value: form.value.value,
                      classes: "govuk-!-width-one-half govuk-!-margin-bottom-3",
                      errorMessage: form.value.error,
                      hint: {
                                text: hintText
                      },
                      searchButton: {
                                attributes: {id: "search"},
                                text: buttonContent,
                                classes:"govuk-button--secondary govuk-!-margin-bottom-3"
                      }
                }) }}

                {% endif %}

                {% if form.value.value %}
                    <p class="govuk-body">
                        <a id="clear-search-link" href="{{ clearLinkUrl }}" class="govuk-link">{{ messages("messages__listSchemes__searchText_clearlink") }}</a>
                    </p>
                {% elif racDac %}

                  {{ govukInsetText({
                         text: messages("messages__listSchemes__racDacOffset")
                  }) }}
                {% endif %}
            </form>
        </div>
   </div>


    {% if form.value.value %}
                {% if numberOfSchemes > 0 %}
                    <div class="grid-row">
                        <div class="column-two-thirds">
                            <p class="govuk-margin-top-5 govuk-margin-bottom-0 govuk-body-s">

                                    {% if numberOfSchemes == 1 %}
                                       {{ messages("messages__listSchemes__search_result") }}
                                    {% else %}
                                       {{ messages("messages__listSchemes__search_multipleResults", numberOfSchemes) }}
                                    {% endif %}

                            </p>
                        </div>
                    </div>
                {% endif %}

    {% endif %}



     {% if noResultsMessageKey %}
                <div class="grid-row">
                    <div class="column-two-thirds">
                        <p class="govuk-body" id="noSchemes">{{ messages(noResultsMessageKey) }}</p>
                    </div>
                </div>
     {% endif %}

     {% if schemes %}
              {{ govukTable(schemes) }}
     {% endif %}

     {% if(numberOfSchemes > pagination) %}
                <div class="grid-row">
                    <div class="column-two-thirds">
                        <p class="govuk-margin-top-5 govuk-body-s" id="pagination-text">
                            {{paginationText}}
                        </p>
                        <nav class="govuk-margin-top-5" aria-label="page">
                            {% if(pageNumber > 1) %}

                              {{navigationLink(messages("messages__listSchemes__pagination__first"),"1", listSchemeUrl)}}
                              {{navigationLink(messages("messages__listSchemes__pagination__prev"),(pageNumber-1), listSchemeUrl)}}

                            {% endif %}

                            {% for  pageNumber  in pageNumberLinks   %}

                                {{pageNumberLink(pageNumber,numberOfPages, listSchemeUrl)}}

                            {% endfor %}

                            {% if(pageNumber < numberOfPages) %}

                             {{navigationLink(messages("messages__listSchemes__pagination__next"),(pageNumber+1), listSchemeUrl)}}
                             {{navigationLink(messages("messages__listSchemes__pagination__last"),(numberOfPages), listSchemeUrl)}}

                           {% endif %}
                        </nav>
                    </div>
                </div>
            {% endif %}


        <p class="govuk-body govuk-!-margin-top-4"><a id="return_to_psa" href="{{ returnUrl }}" class="govuk-link">{{ messages("return.to.link", psaName) }}</a></p>

{% endblock %}
