<div class="card" id="transfer-schemes">
    <div class="card-body">
        <h2 class="card-heading govuk-heading-m">
            {{ messages("messages__migrationLink__header") }}
        </h2>
    </div>
    <div class="card-action">
        <ul class="govuk-list">
            {% for link in links %}
                <li>
                    <a class="govuk-link" id="{{ link.id }}" href="{{ link.url }}">{{ link.linkText }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
