{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "macros/title.njk"                         import title %}
{% from "macros/returnLink.njk"                    import returnLink %}
{% from "govuk/components/button/macro.njk"        import govukButton %}

{% block pageTitle %}
    {{ titleValue }}
{% endblock %}

{% block mainContent %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                {{ messages("messages__establisherPartnershipContactDetails__whatYouWillNeed_h1", name) }}
            </h1>

            <p class="govuk-body">
                {{ messages("messages__partnershipDetails__whatYouWillNeed_p", name) }}
            </p>

            <ul class="govuk-list govuk-list--bullet">
                <li>{{ messages("messages__partnershipDetails__whatYouWillNeed_li_1") }}</li>
                <li>{{ messages("messages__partnershipDetails__whatYouWillNeed_li_2", name) }}</li>
            </ul>

            {{ govukButton({
                href: continueUrl,
                attributes: {id: "submit"},
                text: messages("site.continue")
            }) }}
        </div>
    </div>

    {{ returnLink(schemeName) }}

{% endblock %}
