{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}
{% from "macros/returnLink.njk"                    import returnLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {{ title(messages("messages__alreadyDeleted__title", name)) }}
{% endblock %}

{% block mainContent %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          {{ messages("messages__alreadyDeleted__title", name) }}
        </h1>

        <p class="govuk-body">{{ messages("messages__alreadyDeleted__p1", name) }}</p>
        <p class="govuk-body">{{ messages("messages__alreadyDeleted__p2") }}</p>

        {{ govukButton({
            href: submitUrl,
            attributes: {id: "submit"},
            text: messages("site.continue")
        }) }}
      </div>
    </div>

    {{ returnLink(schemeName) }}

{% endblock %}
