{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}
{% from "macros/returnLink.njk"                    import returnLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {{ title(messages("messages__declaration__title")) }}
{% endblock %}

{% block mainContent %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
          {{ messages("messages__declaration__title") }}
        </h1>

        <p class="govuk-body">
          {{ messages("messages__declaration__declare") }}
        </p>
        <ul class="govuk-list govuk-list--bullet">

            <li>{{ messages("messages__declaration__statement1") }}</li>
            <li>{{ messages("messages__declaration__statement2") }}</li>
            <li>{{ messages("messages__declaration__statement3") }}</li>

            {% if hasWorkingKnowledge %}
                <li>{{ messages("messages__declaration__statement4_working_knowledge") }}</li>
            {% else %}
                <li>{{ messages("messages__declaration__statement4_no_working_knowledge") }}</li>
            {% endif %}

            <li>{{ messages("messages__declaration__statement5") }}</li>

        </ul>
        {{ govukButton({
            href: submitUrl,
            attributes: {id: "submit"},
            text: messages("site.agree_and_submit")
        }) }}
      </div>
    </div>

    {{ returnLink(schemeName) }}

{% endblock %}
