{% extends "includes/layout.njk" %}
{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/radios/macro.njk"        import govukRadios %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "macros/title.njk"                         import title %}
{% from "macros/returnLink.njk"                    import returnLink %}

{% block pageTitle %}
    {{ title(messages("messages__tasklist__title", entityType)) }}
{% endblock %}

{% macro status(isCompleted) %}
    {% if isCompleted %}
        {{ messages("messages__schemeTaskList__completed") }}
    {% else %}
        {{ messages("site.incomplete") }}
    {% endif %}
{% endmacro %}

{% macro statusClass(isCompleted) %}
    {% if isCompleted %} task-status--completed {% else %} task-status--in-progress {% endif %}
{% endmacro %}
{% block mainContent %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">{{ messages(entityName) }}</h1>
            <p class="govuk-body govuk-!-font-weight-bold">
                {%if completedCount == totalSpokes %}
                    {{ messages('messages__tasklist__complete', entityType) }}
                {% else %}
                    {{ messages('messages__tasklist__incomplete', entityType) }}
                {% endif %}
            </p>

<p class="govuk-body govuk-!-font-weight-regular">{{ messages('messages__tasklist__complete__section', completedCount, totalSpokes) }}</p>
            <ol class="app-task-list">

                <li id="spokes">

                        <ul class="app-task-list__items">
                            {% for entity in taskSections %}
                                {% set spokeIndex = loop.index %}
                                <li class="app-task-list__item">
                                    <a id="section-spokes-link-{{ spokeIndex }}"
                                       class="app-task-list__task-name govuk-link"
                                       href="{{ entity.link.target }}"
                                       aria-describedby="section-spokes-status-{{ spokeIndex }}">
                                        {{ messages(entity.link.text) }}
                                    </a>
                                    <span class="app-task-list__tag {{ statusClass(entity.isCompleted) }}"
                                          id="section-spokes-status-{{ spokeIndex }}">
                                        <span class="govuk-visually-hidden">
                                            {{ messages("messages__schemeTaskList__status_visuallyHidden") }}
                                        </span>
                                        {{ status(entity.isCompleted) }}
                                    </span>
                                </li>
                            {% endfor %}
                        </ul>
                </li>
            </ol>
            {{ govukButton({
                            href: submitUrl,
                            attributes: {id: "submit"},
                            text: messages("site.save_and_continue")
                        }) }}
        </div>
    </div>

     {{ returnLink(schemeName) }}
{% endblock %}

