{% extends "includes/layout.njk" %}
{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/radios/macro.njk"        import govukRadios %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
    {{ title(messages("messages__schemeTaskList__heading"), form.errors) }}
{% endblock %}

{% macro status(isCompleted) %}
    {% if isCompleted %}
        {{ messages("messages__schemeTaskList__completed") }}
    {% else %}
        {{ messages("site.incomplete") }}
    {% endif %}
{% endmacro %}

{% macro statusClass(isCompleted) %}
    {% if isCompleted %} task-status--completed {% else %} task-status--in-progress {% endif %}
{% endmacro %}

{% block mainContent %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">{{ messages(schemeName) }}</h1>
                <h2 class="govuk-heading-m">{{schemeStatus}}</h2>
                   <p class="govuk-body">{{ schemeStatusDescription }}</p>
                <h2 class="govuk-heading-m">{{messages("messages__newSchemeTaskList__schemeDetailsExpiryDate")}}</h2>
                    <p class="govuk-body">{{ expiryDate }}</p>
                      <div class="app-task-list">
                          <ul class="app-task-list__items">
                            {% for item in taskSections %}
                               <li class="app-task-list__item">
                                   <span class="app-task-list__task-name">
                                        <a id="section-link-{{ loop.index -1 }}"
                                            class="app-task-list__task-name govuk-link"
                                            href="{{ item.target }}"
                                            aria-describedby="section-status-{{ loop.index -1 }}">
                                            {{ messages(item.text) }}
                                        </a>
                                   </span>
                                   <span class="app-task-list__tag {{ statusClass(item.isCompleted) }}"
                                      id="section-status-{{ loop.index -1 }}">
                                      <span class="govuk-visually-hidden">
                                         {{ messages("messages__schemeTaskList__status_visuallyHidden") }}
                                      </span>

                                      {{ status(item.status) }}
                                   </span>
                               </li>
                            {% endfor %}
                          </ul>
                       </div>
                         <h2 id="section-declaration-header"
                            class="govuk-heading-l">
                                {{ messages("messages__schemeTaskList__sectionDeclaration_header") }}
                         </h2>
                         <div class="app-task-list__items">
                            <p id="DecSubmit" class="app-task-list__item govuk-body">

                                {% if declarationEnabled %}
                                    <a id="section-declaration-link"
                                        class="app-task-list__task-name govuk-link"
                                        href="{{ declaration.target }}">
                                        {{ messages(declaration.text) }}
                                    </a>
                                {% else %}
                                    {{ declaration.text }}
                                {% endif %}
                               
                            </p>
                         </div>

                    <p class="govuk-body">
                        <a id="save-and-return"
                            class="govuk-link"
                            href="{{ returnUrl }}">
                            {{ messages("messages__complete__returnToSchemeOverview") }}
                        </a>
                    </p>
            </div>
        </div>
{% endblock %}

