{% extends "includes/layout.njk" %}

{% from "govuk/components/back-link/macro.njk"     import govukBackLink %}
{% from "govuk/components/radios/macro.njk"        import govukRadios %}
{% from "govuk/components/button/macro.njk"        import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "macros/title.njk"                         import title %}
{% from "macros/returnLink.njk"                    import returnLink %}

{% block pageTitle %}
  {{ title("pensions-scheme-migration-frontend", form.errors) }}
{% endblock %}

{% block mainContent %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

         <h1 class="govuk-heading-xl">{{ heading }}</h1>
         {% if lock %}      <p class="govuk-body">Lock: {{lock}}</p>            {% endif %}
         {% if pstr %}      <p class="govuk-body">Pstr: {{pstr}}</p>            {% endif %}
         {% if data %}      <p class="govuk-body">Data: {{data}}</p>            {% endif %}
         {% if response %}  <p class="govuk-body">Response: {{response}}</p>    {% endif %}

      </div>
    </div>

     {{ returnLink("Scheme Task List") }}

{% endblock %}
