{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}
{% from "macros/returnLink.njk"                    import returnLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  {{ title(messages("messages__addingRacDac__title")) }}
{% endblock %}

{% block mainContent %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">{{ messages("messages__addingRacDac__title") }}</h1>

        <p class="govuk-body">{{ messages("messages__addingRacDac__p1") }}</p>

        <p class="govuk-body">{{ messages("messages__addingRacDac__p2") }}
        <a class="govuk-link" href="{{ listOfSchemeUrl}}">{{ messages("messages__addingRacDac__a") }}</a>
        {{ messages("messages__addingRacDac__p3") }}
        <a class="govuk-link" href="{{contactHmrcUrl}}">{{ messages("messages__addingRacDac__a2") }}</a>
        {{ messages("messages__addingRacDac__p4") }}

         <ul class="govuk-list govuk-list--bullet">
                        <li>{{ messages("messages__addingRacDac__bullet1") }}</li>
                        <li>{{ messages("messages__addingRacDac__bullet2") }}</li>
         </ul>

        </p>

        {{ govukButton({
            href: returnUrl,
            attributes: {id: "submit"},
            text: messages("messages__addingRacDac__button")
        }) }}

      </div>
    </div>

{% endblock %}
