$govuk-assets-path: "/migrate-pension-scheme/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/migrate-pension-scheme/assets/lib/hmrc-frontend/hmrc/assets";

@import "lib/govuk-frontend/govuk/all";
@import "lib/hmrc-frontend/hmrc/components/header/header";
@import "lib/hmrc-frontend/hmrc/components/page-heading/page-heading";
@import "_task-list.scss";
@import "lib/hmrc-frontend/hmrc/components/add-to-a-list/add-to-a-list";
@import "_timeout-dialog.scss";
.js-visible {
    display: none;
}

.hmrc-header.hmrc-header--with-additional-navigation .hmrc-sign-out-nav__link:focus {
    color: #0B0C0C;
}

.autocomplete__input:focus, .form-control:focus {
    outline: 3px solid #fd0;
    outline-offset: 0;
    -webkit-box-shadow: inset 0 0 0 2px;
    box-shadow: inset 0 0 0 2px;
}

.card-body {
    @media screen and (max-width: 640px) {
      min-height: 50px;
    }
}
// responsiveness for mobile screen when there more than 3 columns
  [role="region"][aria-labelledby] {
    overflow: auto;
  }